* {
    box-sizing: border-box;
}

body {
    background-color: #7D2CE0;
    padding: 0 25%;
}
  
  div {
    text-align: center;
    margin: 3%;
  }
  
  img {
    border-radius: 10px 20%;
  }
  
  header {
    text-align: center;
    font-size: 68px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #4B0F94;
    color: #949200;
    padding: 1%;
  
  }
  
  p {
    text-align: center;
    color: #949200;
    font-family: sans-serif;
    
  }
  
  h1 {
    text-align: center;
    color: #949200;
    font-family: sans-serif;
    
  }

  h2 {
    text-align: center;
    color: #949200;
    font-family: sans-serif;
  }

hr {
    border: none;
    height: 1px;
    background-color: #949200;
}

ul {
    color: #949200;
    font-family: sans-serif;
}