* {
    box-sizing: border-box;
}

body {
    background-color: #7D2CE0;
    padding: 0;
    margin: 0;
    
}
  
  div {
    text-align: center;
    margin: 3%;
  }
  
  img {
    border-radius: 10px 20%;
  }
  
  header, footer {
    text-align: center;
    font-size: 68px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #4B0F94;
    color: #e4e005;
    padding: 1%;
  
  }
  
  p {
    text-align: center;
    color: #e4e005;
    font-family: sans-serif;
    
  }
  
  h1 {
    text-align: center;
    color: #e4e005;
    font-family: sans-serif;
    
  }

  h2 {
    text-align: center;
    color: #e4e005;
    font-family: sans-serif;
  }

hr {
    border: none;
    height: 1px;
    background-color: #e4e005;
}

ul {
    color: #e4e005;
    font-family: sans-serif;
}

h3 {
    color: #e4e005;
    font-family: sans-serif; 
}



a:hover {
    color: #9D4DFF;
}

ol {
    color: #e4e005;
    font-family: sans-serif;
}

article {
    color: #e4e005;
    font-family: sans-serif;
    text-align: center;
}

main {
    padding: 0 25% 64px 25%;
}

a {
    color: #e4e005;
}